<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="org.zerock.mapper.BoardMapper">
	<select id ="getList" resultType="org.zerock.domain.BoardVO">
		<![CDATA[
			select * from tb1_board where bno >0 ]]>
	</select>
	
	<!-- 동적 mybatis  -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type=='T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type=='C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type=='W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>				
		</trim>
	</sql>
	
	<!-- getlist paging  [CDATA] 는 부등호 처리를 위함-->
	<select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">
		<![CDATA[
			select bno,title,content,writer,regdate,updatedate,replyCnt
			from (
				select /*+ INDEX_DESC(tb1_board pk_board) */ 
					rownum rn, bno,title,content,writer,regdate,updatedate,replyCnt
				from tb1_board
				where 
				]]>
				<include refid="criteria"></include>
				
			<![CDATA[
				rownum <= #{pageNum} * #{amount} )
			where rn > (#{pageNum}-1) * #{amount}	
		]]>
	</select>
	
	
	<!-- #{변수}는  ? 와 같이 파라미터 처리, 바인딩됨 -->
	<insert id="insert">
		insert into tb1_board (bno,title,content,writer)
		values (seq_board.nextval, #{title}, #{content}, #{writer})
	</insert>
	<!-- insert 문이 실행되고, 생성된 PK값을 알아야하는 경우 -->
	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			select seq_board.nextval from dual
		</selectKey>
		insert into tb1_board (bno,title,content,writer)
		values (#{bno}, #{title}, #{content}, #{writer})
	</insert>
	
	
	<!-- read -->
	<select id ="read" resultType="org.zerock.domain.BoardVO">
		select * from tb1_board where bno= #{bno}
	</select>
	
	<!-- delete -->
	<delete id="delete">
		delete from tb1_board where bno =#{bno}
	</delete>
	
	<!-- update -->
	<update id="update">
		update tb1_board
		set title=#{title},
		content=#{content},
		writer =#{writer},
		updateDate =sysdate
		where bno = #{bno}
	</update>
	
	<!-- getTotalCount -->
	<select id="getTotalCount" resultType="int">
		select count(*) from tb1_board where  <include refid="criteria"></include> bno > 0
	</select>
	
	
	<update id="updateReplyCnt">
		update tb1_board set replyCnt =replyCnt+ #{amount} where bno= #{bno}
	</update>
	
</mapper>
	